<div class="chat-header">
  <div clas="left-header">
    <div class="header-title">
      thenextepisode
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="messages">
  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        Nissy
      </div>
      <div class="message-date">
        2021/02/04(Wed) 12:24:24
      </div>
    </div>
    <div class="lower-message">
        <div class="message-content">
          コップンカー
        </div>
    </div>
  </div>

  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        Elmo
      </div>
      <div class="message-date">
        2021/02/04(Wed) 12:24:24
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        再見
      </div>
    </div>
  </div>
</div>

<div class="form">
  <div class="form-input">
    <input class="form-message" placeholder="type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
  </div>
  <input type="submit" value="送信" class="form-submit">
</div>
